{
  "plugins": [["transform-runtime", {
    "polyfill": false
  }]],
    "presets": [
        ["env", {
            "targets": {
                "node": "8.10"
            }
        }],
        "stage-3"
    ],  
    "env": {
        "test": {
        "plugins": [
            "istanbul"
        ]
        }
    },
    "sourceMaps": "inline",
    "retainLines": true
}